Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [52]:
#Mã lệnh của bạn
import pandas as pd

a = [45,67,32,12,4,72,27,88,94,10]
seri = pd.Series(a)
seri

0    45
1    67
2    32
3    12
4     4
5    72
6    27
7    88
8    94
9    10
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [57]:
#Mã lệnh của bạn
dic = pd.Series({"Name": "Thang", "Age": 19, "Address" : "Vietnam", "Brand": "Honda", "Model": "Honda Civic", "Year": 2020})
dic

Name             Thang
Age                 19
Address        Vietnam
Brand            Honda
Model      Honda Civic
Year              2020
dtype: object

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [60]:
#Mã lệnh của bạn
index = ['a1','b1','c2','d1','e2','f2','g1','h2','i1','j2']
a = [45,67,32,12,4,72,27,88,94,10]
seri1 = pd.Series(a, index=index)
seri1

a1    45
b1    67
c2    32
d1    12
e2     4
f2    72
g1    27
h2    88
i1    94
j2    10
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [61]:
#Mã lệnh của bạn

pd.DataFrame(dic).iloc[4]

0    Honda Civic
Name: Model, dtype: object

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [62]:
#Mã lệnh của bạn

seri1['f2']

72

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [63]:
#Mã lệnh của bạn

seri1[[name.endswith('1') for name in seri1.index]]

a1    45
b1    67
d1    12
g1    27
i1    94
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [64]:
#Mã lệnh của bạn
seri.index.name = 'STT'
seri.name = 'Gia_tri'
seri

STT
0    45
1    67
2    32
3    12
4     4
5    72
6    27
7    88
8    94
9    10
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [65]:
#Mã lệnh của bạn
import numpy as np
np.log(seri)

STT
0    3.806662
1    4.204693
2    3.465736
3    2.484907
4    1.386294
5    4.276666
6    3.295837
7    4.477337
8    4.543295
9    2.302585
Name: Gia_tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [66]:
#Mã lệnh của bạn
seri[seri > 15]

STT
0    45
1    67
2    32
5    72
6    27
7    88
8    94
Name: Gia_tri, dtype: int64