In [ ]:
Thí nghiệm vườn táo

Năm loại gốc rễ đã được sử dụng trong thí nghiệm ghép vườn táo. Dữ liệu sau đây thể hiện mức tăng trưởng mở rộng (cm) 
sau bốn năm.

X1 = tăng trưởng mở rộng cho loại I
X2 = tăng trưởng mở rộng cho loại II
X3 = tăng trưởng mở rộng cho loại III
X4 = tăng trưởng mở rộng cho loại IV
X5 = tăng trưởng mở rộng cho loại V

In [ ]:
Xây dựng giả thuyết:
    
H0: X1 = X2 = X3 = X4 = X5
Ha: Có tối thiểu một cặp giá trị trung bình có giá trị khác nhau

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('C://Users//RED//Downloads//owan02.xls')
df.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X1    X2    X3    X4    X5
0  2569  2074  2505  2838  1532
1  2928  2885  2315  2351  2552
2  2865  3378  2667  3001  3083
3  3844  3906  2390  2439  2330
4  3027  2782  3021  2199  2079

In [6]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['X1', 'X2', 'X3', 'X4','X5'])
# replace column names
df_melt.columns = ['number', 'Extension growth', 'Value']
df_melt.head()

   number Extension growth  Value
0       0               X1   2569
1       1               X1   2928
2       2               X1   2865
3       3               X1   3844
4       4               X1   3027

In [7]:
df_melt.drop('number', axis= 1, inplace= True)
fix_df = df_melt.replace({'X1':'Type I', 'X2':'Type II', 'X3':'Type III', 'X4':'Type IV', 'X5':'Type V'})
X = fix_df.dropna()
X.head()

  Extension growth  Value
0           Type I   2569
1           Type I   2928
2           Type I   2865
3           Type I   3844
4           Type I   3027

In [11]:
X1 = X2 = X3 = X4 = X5 = []
X1 = X['Value'][X['Extension growth'] == 'Type I']
X2 = X['Value'][X['Extension growth'] == 'Type II']
X3 = X['Value'][X['Extension growth'] == 'Type III']
X4 = X['Value'][X['Extension growth'] == 'Type IV']
X5 = X['Value'][X['Extension growth'] == 'Type V']

In [18]:
# Kiểm tra các mẫu có tuân theo phân phối chuẩn không
from scipy import stats
def shapiro_test(data):
    pvalue = stats.shapiro(data)[1]
    print(pvalue)
    if pvalue > 0.05:
        print(f'Mẫu tuân theo phân phối chuẩn')
    else:
        print(f'Mẫu không tuân theo phân phối chuẩn')
        print('Vì có một mẫu không tuân theo phân phối chuẩn nên ta không thực hiện kiểm định Anova')
    print('-'*50)
shapiro_test(X1)
shapiro_test(X2)
shapiro_test(X3)
shapiro_test(X4)
shapiro_test(X5)

0.644533634185791
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.7472830414772034
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.3169650137424469
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.5994704365730286
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.803491473197937
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------

In [19]:
# Kiểm tra các mẫu có cùng phương sai không
from scipy.stats import levene
stat, pvalue = levene(X1, X2, X3, X4)
print(pvalue)
print('-'*50)
if pvalue > 0.05:
    print('Phương sai bằng nhau')
else:
    print('Phương sai không bằng nhau')
    print('Vì phương sai của các mẫu không bằng nhau nên ta không thực hiện kiểm định Anova')

0.7650714581028858
--------------------------------------------------
Phương sai bằng nhau

In [20]:
import scipy.stats as stats

pvalue = stats.f_oneway(X1, X2, X3, X4)[1]
pvalue

0.6409257498820091

In [21]:
if pvalue < 0.05:
    print('Loại bỏ giả thuyết H0. Chấp nhận giả thuyết Ha')
else:
    print('Chấp nhận giả thuyết H0')

Chấp nhận giả thuyết H0