In [ ]:
Chi phí khởi sự kinh doanh

Dữ liệu sau đây trình bày chi phí khởi động kinh doanh (hàng nghìn đô la) cho các cửa hàng.

X1 = chi phí khởi động cho cửa hàng pizza
X2 = chi phí khởi động cho cửa hàng làm bánh / bánh rán
X3 = chi phí khởi động cho cửa hàng giày
X4 = chi phí khởi động cho cửa hàng quà tặng
X5 = chi phí khởi động cho cửa hàng thú cưng

In [ ]:
Xây dựng giả thuyết:
    
H0: X1 = X2 = X3 = X4 = X5
Ha: Có tối thiểu một cặp giá trị trung bình có giá trị khác nhau

In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_excel('C://Users//RED//Downloads//owan04.xls')
df.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

      X1     X2    X3     X4  X5
0   80.0  150.0  48.0  100.0  25
1  125.0   40.0  35.0   96.0  80
2   35.0  120.0  95.0   35.0  30
3   58.0   75.0  45.0   99.0  35
4  110.0  160.0  75.0   75.0  30

In [8]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['X1', 'X2', 'X3', 'X4','X5'])
# replace column names
df_melt.columns = ['number', 'Startup costs', 'Value']
df_melt.head()

   number Startup costs  Value
0       0            X1   80.0
1       1            X1  125.0
2       2            X1   35.0
3       3            X1   58.0
4       4            X1  110.0

In [9]:
df_melt.drop('number', axis= 1, inplace= True)
fix_df = df_melt.replace({'X1':'Pizza', 'X2':'Baker/Donuts', 'X3':'Shoe stores', 'X4':'Gift shops', 'X5':'Pet stores'})
X = fix_df.dropna()
X.head()

  Startup costs  Value
0         Pizza   80.0
1         Pizza  125.0
2         Pizza   35.0
3         Pizza   58.0
4         Pizza  110.0

In [10]:
X1 = X2 = X3 = X4 = X5 = []
X1 = X['Value'][X['Startup costs'] == 'Pizza']
X2 = X['Value'][X['Startup costs'] == 'Baker/Donuts']
X3 = X['Value'][X['Startup costs'] == 'Shoe stores']
X4 = X['Value'][X['Startup costs'] == 'Gift shops']
X5 = X['Value'][X['Startup costs'] == 'Pet stores']

In [11]:
# Kiểm tra các mẫu có tuân theo phân phối chuẩn không
from scipy import stats
def shapiro_test(data):
    pvalue = stats.shapiro(data)[1]
    print(pvalue)
    if pvalue > 0.05:
        print(f'Mẫu tuân theo phân phối chuẩn')
    else:
        print(f'Mẫu không tuân theo phân phối chuẩn')
        print('Vì có một mẫu không tuân theo phân phối chuẩn nên ta không thực hiện kiểm định Anova')
    print('-'*50)
shapiro_test(X1)
shapiro_test(X2)
shapiro_test(X3)
shapiro_test(X4)
shapiro_test(X5)

0.7370653748512268
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.5559222102165222
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.3917592167854309
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.5785742998123169
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.17400741577148438
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------

In [12]:
# Kiểm tra các mẫu có cùng phương sai không
from scipy.stats import levene
stat, pvalue = levene(X1, X2, X3, X4)
print(pvalue)
print('-'*50)
if pvalue > 0.05:
    print('Phương sai bằng nhau')
else:
    print('Phương sai không bằng nhau')
    print('Vì phương sai của các mẫu không bằng nhau nên ta không thực hiện kiểm định Anova')

0.9891450187349425
--------------------------------------------------
Phương sai bằng nhau

In [13]:
import scipy.stats as stats

pvalue = stats.f_oneway(X1, X2, X3, X4)[1]
pvalue

0.6258385280750411

In [14]:
if pvalue < 0.05:
    print('Loại bỏ giả thuyết H0. Chấp nhận giả thuyết Ha')
else:
    print('Chấp nhận giả thuyết H0')

Chấp nhận giả thuyết H0