In [ ]:
Độ sâu khai quật và Khảo cổ học

Bốn địa điểm khai quật khác nhau tại một khu vực khảo cổ ở New Mexico đã đưa ra những độ sâu sau (cm) cho những 
khám phá khảo cổ quan trọng.

X1 = độ sâu tại vị trí I
X2 = độ sâu tại vị trí II
X3 = độ sâu tại vị trí III
X4 = độ sâu tại vị trí IV

In [ ]:
Xây dựng giả thuyết:
    
H0: X1 = X2 = X3 = X4
Ha: Có tối thiểu một cặp giá trị trung bình có giá trị khác nhau

In [1]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_excel('C://Users//RED//Downloads//owan01.xls')
df.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

    X1    X2     X3    X4
0   93  85.0  100.0  96.0
1  120  45.0   75.0  58.0
2   65  80.0   65.0  95.0
3  105  28.0   40.0  90.0
4  115  75.0   73.0  65.0

In [21]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['X1', 'X2', 'X3', 'X4'])
# replace column names
df_melt.columns = ['number', 'Depths', 'Value']
df_melt.head()

   number Depths  Value
0       0     X1   93.0
1       1     X1  120.0
2       2     X1   65.0
3       3     X1  105.0
4       4     X1  115.0

In [22]:
df_melt.drop('number', axis= 1, inplace= True)
fix_df = df_melt.replace({'X1':'Site I', 'X2':'Site II', 'X3':'Site III', 'X4':'Site IV'})
X = fix_df.dropna()
X.head()

   Depths  Value
0  Site I   93.0
1  Site I  120.0
2  Site I   65.0
3  Site I  105.0
4  Site I  115.0

In [23]:
X1 = X2 = X3 = X4 = []
X1 = X['Value'][X['Depths'] == 'Site I']
X2 = X['Value'][X['Depths'] == 'Site II']
X3 = X['Value'][X['Depths'] == 'Site III']
X4 = X['Value'][X['Depths'] == 'Site IV']

In [24]:
# Kiểm tra các mẫu có tuân theo phân phối chuẩn không
from scipy import stats
def shapiro_test(data):
    pvalue = stats.shapiro(data)[1]
    print(pvalue)
    if pvalue > 0.05:
        print(f'Mẫu tuân theo phân phối chuẩn')
    else:
        print(f'Mẫu không tuân theo phân phối chuẩn')
        print('Vì có một mẫu không tuân theo phân phối chuẩn nên ta không thực hiện kiểm định Anova')
    print('-'*50)
shapiro_test(X1)
shapiro_test(X2)
shapiro_test(X3)
shapiro_test(X4)

0.9960364103317261
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.8646887540817261
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.6017062664031982
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.13579683005809784
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------

In [25]:
# Kiểm tra các mẫu có cùng phương sai không
from scipy.stats import levene
stat, pvalue = levene(X1, X2, X3, X4)
print(pvalue)
print('-'*50)
if pvalue > 0.05:
    print('Phương sai bằng nhau')
else:
    print('Phương sai không bằng nhau')
    print('Vì phương sai của các mẫu không bằng nhau nên ta không thực hiện kiểm định Anova')

0.5020818274234007
--------------------------------------------------
Phương sai bằng nhau

In [26]:
import scipy.stats as stats

pvalue = stats.f_oneway(X1, X2, X3, X4)[1]
pvalue

7.99057539367343e-07

In [27]:
if pvalue < 0.05:
    print('Loại bỏ giả thuyết H0. Chấp nhận giả thuyết Ha')
else:
    print('Chấp nhận giả thuyết H0')

Loại bỏ giả thuyết H0. Chấp nhận giả thuyết Ha