**Độ sâu khai quật và Khảo cổ học:**

Bốn địa điểm khai quật khác nhau tại một khu vực khảo cổ ở New Mexico đã đưa ra những độ sâu sau (cm) cho những 
khám phá khảo cổ quan trọng.

X1 = độ sâu tại vị trí I

X2 = độ sâu tại vị trí II

X3 = độ sâu tại vị trí III

X4 = độ sâu tại vị trí IV

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel('owan01.xls')
df.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

    X1    X2     X3    X4
0   93  85.0  100.0  96.0
1  120  45.0   75.0  58.0
2   65  80.0   65.0  95.0
3  105  28.0   40.0  90.0
4  115  75.0   73.0  65.0

In [4]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['X1', 'X2', 'X3', 'X4'])
# replace column names
df_melt.columns = ['number', 'Depths', 'Value']
df_melt.head()

   number Depths  Value
0       0     X1   93.0
1       1     X1  120.0
2       2     X1   65.0
3       3     X1  105.0
4       4     X1  115.0

In [5]:
df_melt.drop('number', axis= 1, inplace= True)
fix_df = df_melt.replace({'X1':'Site I', 'X2':'Site II', 'X3':'Site III', 'X4':'Site IV'})
X = fix_df.dropna()
X.head()

   Depths  Value
0  Site I   93.0
1  Site I  120.0
2  Site I   65.0
3  Site I  105.0
4  Site I  115.0

In [6]:
X1 = X2 = X3 = X4 = []
X1 = X['Value'][X['Depths'] == 'Site I']
X2 = X['Value'][X['Depths'] == 'Site II']
X3 = X['Value'][X['Depths'] == 'Site III']
X4 = X['Value'][X['Depths'] == 'Site IV']

In [7]:
X1

0      93.0
1     120.0
2      65.0
3     105.0
4     115.0
5      82.0
6      99.0
7      87.0
8     100.0
9      90.0
10     78.0
11     95.0
12     93.0
13     88.0
14    110.0
Name: Value, dtype: float64

In [8]:
X2

15    85.0
16    45.0
17    80.0
18    28.0
19    75.0
20    70.0
21    65.0
22    55.0
23    50.0
24    40.0
Name: Value, dtype: float64

In [9]:
X3

30    100.0
31     75.0
32     65.0
33     40.0
34     73.0
35     65.0
36     50.0
37     30.0
38     45.0
39     50.0
40     45.0
41     55.0
Name: Value, dtype: float64

In [10]:
X4

45    96.0
46    58.0
47    95.0
48    90.0
49    65.0
50    80.0
51    85.0
52    95.0
53    82.0
Name: Value, dtype: float64

**Kiểm định Shapiro-Wilk:**

H0: Dữ liệu mẫu tuân theo phân phối chuẩn

Ha: Có tối thiểu 1 dữ liệu mẫu không tuân theo phân phối chuẩn

In [20]:
# Kiểm tra các mẫu có tuân theo phân phối chuẩn không
from scipy import stats
def shapiro_test(data):
    p_value = stats.shapiro(data)[1]
    print(p_value)
    if p_value < 0.05:
        print('Có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết Ha')
        print('Vì ta chấp nhận giả thuyết Ha nên ta không thực hiện kiểm định Anova 1 chiều')
    else:
        print('Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0 ')
    print('-'*50)
shapiro_test(X1)
shapiro_test(X2)
shapiro_test(X3)
shapiro_test(X4)

0.9960364103317261
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------
0.864689826965332
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------
0.601704478263855
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------
0.13579683005809784
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------

**Kiểm định Levene:**

H0: Phương sai của các mẫu bằng nhau

Ha: Có tối thiểu 1 cặp phương sai của các mẫu không bằng nhau

In [21]:
# Kiểm tra các mẫu có cùng phương sai không
from scipy.stats import levene
p_value = levene(X1, X2, X3, X4)[1]
print(p_value)
print('-'*50)
if p_value < 0.05:
    print('Có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý rằng ta chấp nhận giả thuyết Ha')
    print('Vì ta chấp nhận giả thuyết Ha nên ta không thực hiện kiểm định Anova 1 chiều')
else:
    print('Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý rằng ta chấp nhận giả thuyết H0')

0.5020818274234007
--------------------------------------------------
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý rằng ta chấp nhận giả thuyết H0

**Kiểm định ANOVA:**

H0: X1 = X2 = X3 = X4

Ha: Có tối thiểu một cặp giá trị trung bình có giá trị khác nhau

In [22]:
import scipy.stats as stats

p_value = stats.f_oneway(X1, X2, X3, X4)[1]
print(p_value)
if p_value < 0.05:
    print('Có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý rằng ta chấp nhận giả thuyết Ha')
else:
    print('Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý rằng ta chấp nhận giả thuyết H0')

7.99057539367343e-07
Có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý rằng ta chấp nhận giả thuyết Ha