In [ ]:
Thí nghiệm vườn táo

Năm loại gốc rễ đã được sử dụng trong thí nghiệm ghép vườn táo. Dữ liệu sau đây thể hiện mức tăng trưởng mở rộng (cm) 
sau bốn năm.

X1 = tăng trưởng mở rộng cho loại I
X2 = tăng trưởng mở rộng cho loại II
X3 = tăng trưởng mở rộng cho loại III
X4 = tăng trưởng mở rộng cho loại IV
X5 = tăng trưởng mở rộng cho loại V

In [ ]:
Xây dựng giả thuyết:
    
H0: X1 = X2 = X3 = X4 = X5
Ha: Có tối thiểu một cặp giá trị trung bình có giá trị khác nhau

In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_excel('owan02.xls')
df.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X1    X2    X3    X4    X5
0  2569  2074  2505  2838  1532
1  2928  2885  2315  2351  2552
2  2865  3378  2667  3001  3083
3  3844  3906  2390  2439  2330
4  3027  2782  3021  2199  2079

In [18]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['X1', 'X2', 'X3', 'X4','X5'])
# replace column names
df_melt.columns = ['number', 'Extension growth', 'Value']
df_melt.head()

   number Extension growth  Value
0       0               X1   2569
1       1               X1   2928
2       2               X1   2865
3       3               X1   3844
4       4               X1   3027

In [19]:
df_melt.drop('number', axis= 1, inplace= True)
fix_df = df_melt.replace({'X1':'Type I', 'X2':'Type II', 'X3':'Type III', 'X4':'Type IV', 'X5':'Type V'})
X = fix_df.dropna()
X.head()

  Extension growth  Value
0           Type I   2569
1           Type I   2928
2           Type I   2865
3           Type I   3844
4           Type I   3027

In [20]:
X1 = X2 = X3 = X4 = X5 = []
X1 = X['Value'][X['Extension growth'] == 'Type I']
X2 = X['Value'][X['Extension growth'] == 'Type II']
X3 = X['Value'][X['Extension growth'] == 'Type III']
X4 = X['Value'][X['Extension growth'] == 'Type IV']
X5 = X['Value'][X['Extension growth'] == 'Type V']

In [21]:
X1

0    2569
1    2928
2    2865
3    3844
4    3027
5    2336
6    3211
7    3037
Name: Value, dtype: int64

In [22]:
X2

8     2074
9     2885
10    3378
11    3906
12    2782
13    3018
14    3383
15    3447
Name: Value, dtype: int64

In [23]:
X3

16    2505
17    2315
18    2667
19    2390
20    3021
21    3085
22    3308
23    3231
Name: Value, dtype: int64

In [24]:
X4

24    2838
25    2351
26    3001
27    2439
28    2199
29    3318
30    3601
31    3291
Name: Value, dtype: int64

In [25]:
X5

32    1532
33    2552
34    3083
35    2330
36    2079
37    3366
38    2416
39    3100
Name: Value, dtype: int64

In [32]:
# Kiểm tra các mẫu có tuân theo phân phối chuẩn không
from scipy import stats
def shapiro_test(data):
    p_value = stats.shapiro(data)[1]
    print(p_value)
    if p_value > 0.05:
        print('Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn')
    else:
        print('Có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn')
        print('Vì có một mẫu không tuân theo phân phối chuẩn nên ta không thực hiện kiểm định Anova 1 chiều')
    print('-'*50)
shapiro_test(X1)
shapiro_test(X2)
shapiro_test(X3)
shapiro_test(X4)
shapiro_test(X5)

0.644533634185791
Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn
--------------------------------------------------
0.7472830414772034
Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn
--------------------------------------------------
0.3169650137424469
Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn
--------------------------------------------------
0.5994704365730286
Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn
--------------------------------------------------
0.803491473197937
Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn
--------------------------------------------------

In [35]:
# Kiểm tra các mẫu có cùng phương sai không
from scipy.stats import levene
p_value = levene(X1, X2, X3, X4, X5)[1]
print(p_value)
print('-'*50)
if p_value > 0.05:
    print('Phương sai bằng nhau')
else:
    print('Phương sai không bằng nhau')
    print('Vì có một mẫu không tuân theo phân phối chuẩn nên ta không thực hiện kiểm định Anova 1 chiều')

0.7871189934362511
--------------------------------------------------
Phương sai bằng nhau

In [34]:
import scipy.stats as stats

p_value = stats.f_oneway(X1, X2, X3, X4, X5)[1]
print(p_value)
if p_value < 0.05:
    print('Loại bỏ giả thuyết H0. Chấp nhận giả thuyết Ha')
else:
    print('Chấp nhận giả thuyết H0')

0.28382583646160114
Chấp nhận giả thuyết H0