Thuốc nhuộm đỏ Số 40

S.W. Laagakos và F. Mosteller của Đại học Harvard cho chuột ăn các liều thuốc nhuộm đỏ số 40 khác nhau và ghi lại thời gian chết trong nhiều tuần. Kết quả đối với chuột cái, liều lượng và thời gian chết được thể hiện trong dữ liệu.

X1 = thời gian chết của nhóm khống chế được

X2 = thời gian chết của nhóm dùng liều thấp

X3 = thời gian chết của nhóm dùng liều trung bình

X4 = thời gian chết của nhóm với liều lượng cao

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('owan03.xls')
df.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

   X1    X2    X3    X4
0  70  49.0  30.0  34.0
1  77  60.0  37.0  36.0
2  83  63.0  56.0  48.0
3  87  67.0  65.0  48.0
4  92  70.0  76.0  65.0

In [3]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['X1', 'X2', 'X3', 'X4'])
# replace column names
df_melt.columns = ['number', 'Time of death', 'Value']
df_melt.head()

   number Time of death  Value
0       0            X1   70.0
1       1            X1   77.0
2       2            X1   83.0
3       3            X1   87.0
4       4            X1   92.0

In [4]:
df_melt.drop('number', axis= 1, inplace= True)
fix_df = df_melt.replace({'X1':'control group', 'X2':'group with low dosage', 'X3':'group with medium dosage', 
                          'X4':'group with high dosage'})
X = fix_df.dropna()
X.head()

   Time of death  Value
0  control group   70.0
1  control group   77.0
2  control group   83.0
3  control group   87.0
4  control group   92.0

In [5]:
X1 = X2 = X3 = X4 = []
X1 = X['Value'][X['Time of death'] == 'control group']
X2 = X['Value'][X['Time of death'] == 'group with low dosage']
X3 = X['Value'][X['Time of death'] == 'group with medium dosage']
X4 = X['Value'][X['Time of death'] == 'group with high dosage']

In [6]:
X1

0      70.0
1      77.0
2      83.0
3      87.0
4      92.0
5      93.0
6     100.0
7     102.0
8     102.0
9     103.0
10     96.0
Name: Value, dtype: float64

In [7]:
X2

11    49.0
12    60.0
13    63.0
14    67.0
15    70.0
16    74.0
17    77.0
18    80.0
19    89.0
Name: Value, dtype: float64

In [8]:
X3

22    30.0
23    37.0
24    56.0
25    65.0
26    76.0
27    83.0
28    87.0
29    90.0
30    94.0
31    97.0
Name: Value, dtype: float64

In [9]:
X4

33     34.0
34     36.0
35     48.0
36     48.0
37     65.0
38     91.0
39     98.0
40    102.0
Name: Value, dtype: float64

**Kiểm định Shapiro-Wilk:**

H0: Dữ liệu mẫu tuân theo phân phối chuẩn

Ha: Có tối thiểu 1 dữ liệu mẫu không tuân theo phân phối chuẩn

In [13]:
# Kiểm tra các mẫu có tuân theo phân phối chuẩn không
from scipy import stats
def shapiro_test(data):
    p_value = stats.shapiro(data)[1]
    print(p_value)
    if p_value < 0.05:
        print('Có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết Ha')
        print('Vì ta chấp nhận giả thuyết Ha nên ta không thực hiện kiểm định Anova 1 chiều')
    else:
        print('Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0 ')
    print('-'*50)
shapiro_test(X1)
shapiro_test(X2)
shapiro_test(X3)
shapiro_test(X4)

0.23906797170639038
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------
0.9998751282691956
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------
0.19140109419822693
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------
0.14956821501255035
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------

**Kiểm định Levene:**

H0: Phương sai của các mẫu bằng nhau

Ha: Có tối thiểu 1 cặp phương sai của các mẫu không bằng nhau

In [14]:
# Kiểm tra các mẫu có cùng phương sai không
from scipy.stats import levene
p_value = levene(X1, X2, X3, X4)[1]
print(p_value)
print('-'*50)
if p_value < 0.05:
    print('Có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý rằng ta chấp nhận giả thuyết Ha')
    print('Vì ta chấp nhận giả thuyết Ha nên ta không thực hiện kiểm định Anova 1 chiều')
else:
    print('Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý rằng ta chấp nhận giả thuyết H0')

0.02110640000655371
--------------------------------------------------
Có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý rằng ta chấp nhận giả thuyết Ha
Vì ta chấp nhận giả thuyết Ha nên ta không thực hiện kiểm định Anova 1 chiều