In [ ]:
Chi phí khởi sự kinh doanh

Dữ liệu sau đây trình bày chi phí khởi động kinh doanh (hàng nghìn đô la) cho các cửa hàng.

X1 = chi phí khởi động cho cửa hàng pizza
X2 = chi phí khởi động cho cửa hàng làm bánh / bánh rán
X3 = chi phí khởi động cho cửa hàng giày
X4 = chi phí khởi động cho cửa hàng quà tặng
X5 = chi phí khởi động cho cửa hàng thú cưng

In [ ]:
Xây dựng giả thuyết:
    
H0: X1 = X2 = X3 = X4 = X5
Ha: Có tối thiểu một cặp giá trị trung bình có giá trị khác nhau

In [22]:
import numpy as np
import pandas as pd

In [38]:
df = pd.read_excel('owan04.xls')
df.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

      X1     X2    X3     X4  X5
0   80.0  150.0  48.0  100.0  25
1  125.0   40.0  35.0   96.0  80
2   35.0  120.0  95.0   35.0  30
3   58.0   75.0  45.0   99.0  35
4  110.0  160.0  75.0   75.0  30

In [39]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['X1', 'X2', 'X3', 'X4','X5'])
# replace column names
df_melt.columns = ['number', 'Startup costs', 'Value']
df_melt.head()

   number Startup costs  Value
0       0            X1   80.0
1       1            X1  125.0
2       2            X1   35.0
3       3            X1   58.0
4       4            X1  110.0

In [40]:
df_melt.drop('number', axis= 1, inplace= True)
fix_df = df_melt.replace({'X1':'Pizza', 'X2':'Baker/Donuts', 'X3':'Shoe stores', 'X4':'Gift shops', 'X5':'Pet stores'})
X = fix_df.dropna()
X.head()

  Startup costs  Value
0         Pizza   80.0
1         Pizza  125.0
2         Pizza   35.0
3         Pizza   58.0
4         Pizza  110.0

In [41]:
X1 = X2 = X3 = X4 = X5 = []
X1 = X['Value'][X['Startup costs'] == 'Pizza']
X2 = X['Value'][X['Startup costs'] == 'Baker/Donuts']
X3 = X['Value'][X['Startup costs'] == 'Shoe stores']
X4 = X['Value'][X['Startup costs'] == 'Gift shops']
X5 = X['Value'][X['Startup costs'] == 'Pet stores']

In [42]:
X1

0      80.0
1     125.0
2      35.0
3      58.0
4     110.0
5     140.0
6      97.0
7      50.0
8      65.0
9      79.0
10     35.0
11     85.0
12    120.0
Name: Value, dtype: float64

In [43]:
X2

16    150.0
17     40.0
18    120.0
19     75.0
20    160.0
21     60.0
22     45.0
23    100.0
24     86.0
25     87.0
26     90.0
Name: Value, dtype: float64

In [44]:
X3

32     48.0
33     35.0
34     95.0
35     45.0
36     75.0
37    115.0
38     42.0
39     78.0
40     65.0
41    125.0
Name: Value, dtype: float64

In [45]:
X4

48    100.0
49     96.0
50     35.0
51     99.0
52     75.0
53    150.0
54     45.0
55    100.0
56    120.0
57     50.0
Name: Value, dtype: float64

In [46]:
X5

64     25.0
65     80.0
66     30.0
67     35.0
68     30.0
69     28.0
70     20.0
71     75.0
72     48.0
73     20.0
74     50.0
75     75.0
76     55.0
77     60.0
78     85.0
79    110.0
Name: Value, dtype: float64

In [56]:
# Kiểm tra các mẫu có tuân theo phân phối chuẩn không
from scipy import stats
def shapiro_test(data):
    p_value = stats.shapiro(data)[1]
    print(p_value)
    if p_value > 0.05:
        print('Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn')
    else:
        print('Có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn')
        print('Vì có một mẫu không tuân theo phân phối chuẩn nên ta không thực hiện kiểm định Anova 1 chiều')
    print('-'*50)
shapiro_test(X1)
shapiro_test(X2)
shapiro_test(X3)
shapiro_test(X4)
shapiro_test(X5)

0.7370653748512268
Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn
--------------------------------------------------
0.5559222102165222
Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn
--------------------------------------------------
0.3917592167854309
Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn
--------------------------------------------------
0.5785742998123169
Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn
--------------------------------------------------
0.17400741577148438
Không có đủ bằng chứng để nói rằng dữ liệu mẫu không tuân theo phân phối chuẩn
--------------------------------------------------

In [57]:
# Kiểm tra các mẫu có cùng phương sai không
from scipy.stats import levene
p_value = levene(X1, X2, X3, X4, X5)[1]
print(p_value)
print('-'*50)
if p_value > 0.05:
    print('Phương sai bằng nhau')
else:
    print('Phương sai không bằng nhau')
    print('Vì phương sai của các mẫu không bằng nhau nên ta không thực hiện kiểm định Anova 1 chiều')

0.9309738160407797
--------------------------------------------------
Phương sai bằng nhau

In [58]:
import scipy.stats as stats

p_value = stats.f_oneway(X1, X2, X3, X4, X5)[1]
print(p_value)
if p_value < 0.05:
    print('Loại bỏ giả thuyết H0. Chấp nhận giả thuyết Ha')
else:
    print('Chấp nhận giả thuyết H0')

0.018391232905488122
Loại bỏ giả thuyết H0. Chấp nhận giả thuyết Ha