**Cân nặng của các cầu thủ bóng đá:**

Dữ liệu sau đây thể hiện trọng lượng (pound) của một mẫu ngẫu nhiên các cầu thủ bóng đá chuyên nghiệp của các đội sau đây.

X1 = trọng lượng của người chơi của đội Dallas Cowboys

X2 = trọng lượng của người chơi của đội Green Bay Packers

X3 = trọng lượng của người chơi của đội Denver Broncos

X4 = trọng lượng của người chơi của đội Miami Dolphins

X5 = trọng lượng của người chơi của đội San Francisco Forty Niners

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('owan05.xls')
df.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

    X1   X2   X3   X4   X5
0  250  260  270  260  247
1  255  271  250  255  249
2  255  258  281  265  255
3  264  263  273  257  247
4  250  267  257  268  244

In [3]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['X1', 'X2', 'X3', 'X4','X5'])
# replace column names
df_melt.columns = ['number', 'Weights of players', 'Value']
df_melt.head()

   number Weights of players  Value
0       0                 X1    250
1       1                 X1    255
2       2                 X1    255
3       3                 X1    264
4       4                 X1    250

In [4]:
df_melt.drop('number', axis= 1, inplace= True)
fix_df = df_melt.replace({'X1':'Dallas Cowboys', 'X2':'Green Bay Packers', 'X3':'Denver Broncos', 
                          'X4':'Miami Dolphins', 'X5':'San Francisco Forty Niners'})
X = fix_df.dropna()
X.head()

  Weights of players  Value
0     Dallas Cowboys    250
1     Dallas Cowboys    255
2     Dallas Cowboys    255
3     Dallas Cowboys    264
4     Dallas Cowboys    250

In [5]:
X1 = X2 = X3 = X4 = X5 = []
X1 = X['Value'][X['Weights of players'] == 'Dallas Cowboys']
X2 = X['Value'][X['Weights of players'] == 'Green Bay Packers']
X3 = X['Value'][X['Weights of players'] == 'Denver Broncos']
X4 = X['Value'][X['Weights of players'] == 'Miami Dolphins']
X5 = X['Value'][X['Weights of players'] == 'San Francisco Forty Niners']

**Kiểm định Shapiro-Wilk:**

H0: Dữ liệu mẫu tuân theo phân phối chuẩn

Ha: Có tối thiểu 1 dữ liệu mẫu không tuân theo phân phối chuẩn

In [6]:
# Kiểm tra các mẫu có tuân theo phân phối chuẩn không
from scipy import stats
def shapiro_test(data):
    p_value = stats.shapiro(data)[1]
    print(p_value)
    if p_value < 0.05:
        print('Có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết Ha')
        print('Vì ta chấp nhận giả thuyết Ha nên ta không thực hiện kiểm định Anova 1 chiều')
    else:
        print('Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0 ')
    print('-'*50)
shapiro_test(X1)
shapiro_test(X2)
shapiro_test(X3)
shapiro_test(X4)
shapiro_test(X5)

0.028549334034323692
Có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết Ha
Vì ta chấp nhận giả thuyết Ha nên ta không thực hiện kiểm định Anova 1 chiều
--------------------------------------------------
0.16341625154018402
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------
0.6627115607261658
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------
0.06506332755088806
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------
0.3383376896381378
Chưa có đủ bằng chứng thống kê để bác bỏ giả thuyết H0. Điều này ngụ ý ta chấp nhận giả thuyết H0
--------------------------------------------------