In [ ]:
Thuốc nhuộm đỏ Số 40

S.W. Laagakos và F. Mosteller của Đại học Harvard cho chuột ăn các liều thuốc nhuộm đỏ số 40 khác nhau và ghi lại thời gian chết
trong nhiều tuần. Kết quả đối với chuột cái, liều lượng và thời gian chết được thể hiện trong dữ liệu.

X1 = thời gian chết của nhóm khống chế được
X2 = thời gian chết của nhóm dùng liều thấp
X3 = thời gian chết của nhóm dùng liều trung bình
X4 = thời gian chết của nhóm với liều lượng cao

In [ ]:
Xây dựng giả thuyết:
    
H0: X1 = X2 = X3 = X4
Ha: Có tối thiểu một cặp giá trị trung bình có giá trị khác nhau

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('C://Users//RED//Downloads//owan03.xls')
df.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

   X1    X2    X3    X4
0  70  49.0  30.0  34.0
1  77  60.0  37.0  36.0
2  83  63.0  56.0  48.0
3  87  67.0  65.0  48.0
4  92  70.0  76.0  65.0

In [4]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['X1', 'X2', 'X3', 'X4'])
# replace column names
df_melt.columns = ['number', 'Time of death', 'Value']
df_melt.head()

   number Time of death  Value
0       0            X1   70.0
1       1            X1   77.0
2       2            X1   83.0
3       3            X1   87.0
4       4            X1   92.0

In [5]:
df_melt.drop('number', axis= 1, inplace= True)
fix_df = df_melt.replace({'X1':'control group', 'X2':'group with low dosage', 'X3':'group with medium dosage', 
                          'X4':'group with high dosage'})
X = fix_df.dropna()
X.head()

   Time of death  Value
0  control group   70.0
1  control group   77.0
2  control group   83.0
3  control group   87.0
4  control group   92.0

In [6]:
X1 = X2 = X3 = X4 = []
X1 = X['Value'][X['Time of death'] == 'control group']
X2 = X['Value'][X['Time of death'] == 'group with low dosage']
X3 = X['Value'][X['Time of death'] == 'group with medium dosage']
X4 = X['Value'][X['Time of death'] == 'group with high dosage']

In [7]:
# Kiểm tra các mẫu có tuân theo phân phối chuẩn không
from scipy import stats
def shapiro_test(data):
    pvalue = stats.shapiro(data)[1]
    print(pvalue)
    if pvalue > 0.05:
        print(f'Mẫu tuân theo phân phối chuẩn')
    else:
        print(f'Mẫu không tuân theo phân phối chuẩn')
        print('Vì có một mẫu không tuân theo phân phối chuẩn nên ta không thực hiện kiểm định Anova')
    print('-'*50)
shapiro_test(X1)
shapiro_test(X2)
shapiro_test(X3)
shapiro_test(X4)

0.23906797170639038
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.9998751282691956
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.19140109419822693
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------
0.14956821501255035
Mẫu tuân theo phân phối chuẩn
--------------------------------------------------

In [8]:
# Kiểm tra các mẫu có cùng phương sai không
from scipy.stats import levene
stat, pvalue = levene(X1, X2, X3, X4)
print(pvalue)
print('-'*50)
if pvalue > 0.05:
    print('Phương sai bằng nhau')
else:
    print('Phương sai không bằng nhau')
    print('Vì phương sai của các mẫu không bằng nhau nên ta không thực hiện kiểm định Anova')

0.02110640000655371
--------------------------------------------------
Phương sai không bằng nhau
Vì phương sai của các mẫu không bằng nhau nên ta không thực hiện kiểm định Anova